<!-- The video -->
<div class="container-video">
  <div id="video">
    <video autoplay muted loop id="myVideo" width="100%">
      <source src="/assets/stars.mp4" type="video/mp4">
    </video>
  </div>
  <!-- Optional: some overlay text to describe the video -->
  <div class="overlay">
    <div class="home-header d-none d-lg-block">
      <h1><strong>Contribute to the next wave of scientific research</strong></h1>
      <h5>Discover research projects or add your own to find participants</h5>
    </div>
    <div class="home-buttons">
      <!-- Use a button to pause/play the video with JavaScript -->
      <%= link_to "Browse Projects", projects_path, class: 'btn btn-primary' %>
      <%= link_to "Start an Experiment", new_project_path, class: 'btn btn-warning' %>
    </div>
  </div>
</div>

<!-- featured projects  -->
<div class="container">
  <div class="header">
    <i class="fa fa-star" aria-hidden="true"></i><h3>Featured Projects</h3>
  </div>
  <div class="row">
      <% Project.where(category: "history").first(4).each do |p| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <%= link_to(project_path(p), class: "card-link") do %>
            <div class="card">
                <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= p.photo %>);">
                </div>
              <div class="card-body-">
                <p class="card-title"><%= p.name %></p>
                <p class="card-text"><%= p.short_description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>



<script src=”https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>;
<script src=”scripts.js”></script>


