
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class='container'>
      <div class='opener'>
        <div class='text-center pt-4'>
          <h1>My Profile</h1>
          <%= cl_image_tag @user.photo, class: "avatar-large", alt: "your profile picture", width: 100 unless @user.photo.blank? %>
        </div>
        <div class='text-center pt-4'>
          <h1><%= @user.first_name %> <%= @user.last_name %></h>
        </div>
        <div class='text-center pt-4'>
          <p><%= @user.email %></p>
          <p><%= @user.description %></p>
        </div>
        <div class="text-center pt-4">

          <!-- check that this logic actually works to hide the edit button from other users' profiles -->
          <% if current_user.id == @user.id %>
            <%= link_to "Edit profile", edit_user_registration_path(@user), class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="badges">
      <h4>My Badges</h4>
        <%unless UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"history").first.nil? %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT70GqjHplhbPH-9nc8LbjpZSw7AovBvwF_bTL9guLGezvM43__CQ" alt="" height="42" width="42" id='#Archivist' class="<%= 'Archivist-active' if UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"history").first.counter >= 5 %>">
        <%end%>
          <%unless UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"animals").first.nil? %>
              <img src="https://cms-assets.tutsplus.com/uploads/users/107/posts/24710/image/35-flat-animals-fox.jpg" alt="" height="42" width="42" id='#animals' class= "<%= 'animals-active' if UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"animals").first.counter >= 5 %>">
          <%end%>
          <%unless UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"astronomy").first.nil? %>
            <%if UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"astronomy").first.counter >= 5 %>
              <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/meteor-1427675-1207105.png" alt="" height="42" width="42" class='astronomy'>
            <%end%>
          <%end%>

        <%unless UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"biology").first.nil? %>
         <%if UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"biology").first.counter >= 5 %>
       <img src="https://cdn0.iconfinder.com/data/icons/ecology-63/64/lab-biology-science-research-chemistry-512.png" alt="" height="42" width="42" class='biology'>
       <%end%>
         <%end%>
          <%unless UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"chemistry").first.nil? %>
            <%if UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"chemistry").first.counter >= 5 %>
              <img src="https://image.flaticon.com/icons/png/512/562/562124.png" alt="" height="42" width="42" class='chemistry'>
            <%end%>
         <%end%>
          <%unless UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"ecology").first.nil? %>
            <%if UserCategoryCounter.where("user_id = ? AND category = ?",params[:id].to_i ,"ecology").first.counter >= 5 %>
              <img src="https://cdn0.iconfinder.com/data/icons/ecology-and-nature-vol-2/600/earth-globe-Conservation-Eco-ecology-nature-plant-product-environment-512.png" alt="" height="42" width="42" class='ecology'>
            <%end%>
         <%end%>
         <% if current_user.researcher_status == true %>
          <img src="https://cdn1.iconfinder.com/data/icons/occupations-3/100/17-512.png" alt="" height="42" width="42" class='reasearcher'>
          <%end%>


      <img class="first-login" src="https://cdn2.iconfinder.com/data/icons/flaturici-set-4/512/rocket-512.png" alt="created account badge" height="42" width="42">
      <div class="hover-text" >Welcome to the Community, Professor <%= @user.last_name %>!</div>
      <div class="hover-text-arch">you are becoming quite the historian!</div>





    </div>
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="container">
      <div class='opener'>
        <div class='text-left pt-4'>
          <h2>Favorite Projects</h2>
          <br>
          <div class="card-container card-container-profile">
            <% @user.projects.each do |p| %>
              <div class="card p.category" style="width: 40%;">
                <div class="card-photo card-photo-profile" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= p.photo %>);">
                  <% if user_signed_in? %>
                    <div data-project-id="<%= p.id %>">
                      <%= link_to toggle_project_favorites_path(p), method: :post, remote: true do %>
                        <% if current_user.has_favorited?(p) %>
                          <i id="star", class="fas fa-star fa-lg fa-rocket-click"></i>
                        <% else %>
                          <i id="star", class="fas fa-star fa-lg"></i>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="card-body card-body-profile">
                  <%= link_to project_path(p.id), class: 'project_show_link' do %>
                  <p class="card-title"><%= p.name %></p>
                  <p class="card-text"><%= p.short_description %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
