<div class="profile-intro-container">
  <div class="row">
    <div class="col-sm-12 col-md-2 container">
      <div class='container'>
        <div class='opener'>
          <div class='text-center pt-4'>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"> <%= @user.first_name %> <%= @user.last_name %> </h5>
                <%= cl_image_tag @user.photo, class: "avatar-large", align: "center", alt: "your profile picture", width: 100 unless @user.photo.blank? %>
                <p class="card-text mt-4">View your achievements and favroited projects here.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= @user.email %></li>
                <li class="list-group-item"><% if @user.researcher_status == true%>
                  Researcher
                  <% else %>
                  Citizen Scientist
                  <% end %>
                 </li>
              </ul>
              <div class="card-body">
                <% if current_user.id == @user.id %>
                <%= link_to "Edit profile", edit_user_registration_path(@user), class: 'btn btn-secondary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="container">
        <div class='opener'>
          <div class='text-left pt-5'>
            <h5>Achievements</h5>
            <!-- <br class ='border'> -->
            <div class="badges">
              <div class="card-product">
                <img class="first-login" src="https://cdn2.iconfinder.com/data/icons/flaturici-set-4/512/rocket-512.png" alt="created account badge" height="42" width="42"style='opacity: 1;' >
                <div class="card-product-infos">
                  <h2>Create An Account</h2>
                  <p>Welcome to the Community, <strong>Professor <%= @user.last_name %>!</strong></p>
                </div>
              </div>

              <div class="card-product">
                <% archivist = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "history") %>
                <img src="https://cdn4.iconfinder.com/data/icons/unigrid-flat-multimedia-vol-5/90/020_244_scroll_paper_text_old_log_history_manuscript-512.png" alt="" height="42" width="42" style="<%= 'opacity: 1;' if archivist && archivist.counter >= 1 %>">
                <div class="card-product-infos">

                  <% archivist = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "history") %>
                  <% if archivist && archivist.counter >= 1 %>
                  <h2 id='h2grey'>Archivist</h2>
                    <p> You are becoming quite a historian</p>
                  <% else %>
                  <h2>Archivist</h2 class='h2black'>
                    <p>Participate in at least one history-related project</p>
                  <% end %>
                </div>
              </div>

             <div class="card-product">
                <% animal = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "animals") %>
                <img src="https://cdn0.iconfinder.com/data/icons/hipster/128/Hipster-06-512.png" alt="" height="42" width="42" style="<%= 'opacity: 1;' if animal && animal.counter >= 1 %>">
                <div class="card-product-infos">
                  <h2>Protector</h2>
                  <% animal = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "animals") %>
                  <% if animal && animal.counter >= 1 %>
                    <p> Your support is deer to us</p>
                  <% else %>
                    <p>Participate in at least one animal-related project</p>
                  <% end %>
                </div>
              </div>

              <div class="card-product">
                <% spaaaace = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "astronomy") %>
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/meteor-1427675-1207105.png" alt="" height="42" width="42" style="<%= 'opacity: 1;' if spaaaace && spaaaace.counter >= 1 %>">
                <div class="card-product-infos">
                  <h2>Space Captain</h2>
                  <% spaaaace = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "astronomy") %>
                  <% if spaaaace && spaaaace.counter >= 1 %>
                    <p> Beam Me Up Scotty!</p>
                  <% else %>
                    <p>Participate in at least one astronomy-related project</p>
                  <% end %>
                </div>
              </div>

              <div class="card-product">
                <% bio = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "biology") %>
                <img src="https://cdn0.iconfinder.com/data/icons/ecology-63/64/lab-biology-science-research-chemistry-512.png" alt="" height="42" width="42" style="<%= 'opacity: 1;' if bio && bio.counter >= 1 %>">
                <div class="card-product-infos">
                  <h2>A Collection of Cells</h2>
                  <% bio = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "biology") %>
                  <% if bio && bio.counter >= 1 %>
                    <p>Let's not be anenomes</p>
                  <% else %>
                    <p>Participate in at least one biology-related project</p>
                  <% end %>
                </div>
              </div>

              <div class="card-product">
                <% chem = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "chemistry") %>
                <img src="https://image.flaticon.com/icons/png/512/562/562124.png" alt="" height="42" width="42" style="<%= 'opacity: 1;' if chem && chem.counter >= 1 %>">
                <div class="card-product-infos">
                  <h2> Marie Curie</h2>
                  <% bio = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "chemistry") %>
                  <% if bio && bio.counter >= 1 %>
                    <p> keep going and you will find a reaction!</p>
                  <% else %>
                    <p>Participate in at least one chemistry-related project</p>
                  <% end %>
                </div>
              </div>
              <div class="card-product">
                <% eco = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "ecology") %>
                <img src="https://cdn0.iconfinder.com/data/icons/ecology-and-nature-vol-2/600/earth-globe-Conservation-Eco-ecology-nature-plant-product-environment-512.png" alt="" height="42" width="42" style="<%= 'opacity: 1;' if eco && eco.counter >= 1 %>">
                <div class="card-product-infos">
                  <h2> Photosynthesizier</h2>
                  <% eco = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "ecology") %>
                  <% if eco && eco.counter >= 1 %>
                    <p>Ecology is all of us</p>
                  <% else %>
                    <p>Participate in at least one ecology-related project</p>
                  <% end %>
                </div>
              </div>
              <div class="card-product">
                <% eco = UserCategoryCounter.find_by("user_id = ? AND category = ?", params[:id].to_i, "ecology") %>
                <img src="https://cdn2.iconfinder.com/data/icons/rewards-1/512/present-512.png" alt="" height="42" width="42" style="<%= 'opacity: 1;' unless Donation.where(user_id: current_user.id).empty?%>">
                <div class="card-product-infos">
                  <h2> A Meaningful Difference</h2>
                  <% if Donation.where(user_id: current_user.id).empty? %>
                    <p>Back your first project</p>
                  <% else %>
                    <p>You are making the world a better place</p>
                  <% end %>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8 container">
    <div class='container favorited-profile'>
      <div class="favorited-profile-header">
        <div>
          <h5>Favorited Projects</h5>
        </div>
        <div>
          <%= link_to "Browse All", projects_path, class: "btn-browse" %>
        </div>
      </div>

      <div class="card-container card-container-profile">
        <!-- Cards-->
        <div class="row">
          <% @user.projects.each do |p| %>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
              <div class="card card-index<%= p.category %>" id="card-profile">
                <%= link_to(project_path(p), class: "card-link") do %>
                  <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= p.photo %>);">
                  </div>
                <% end %>

                <div class="card-body-">
                  <div class="star-project-tile">
                    <%= link_to(project_path(p), class: "card-link") do %>
                      <h5 class="card-title"><%= p.name %></h5>
                    <% end %>
                    <% if user_signed_in? %>
                    <div data-project-id="<%= p.id %>">
                      <%= link_to toggle_project_favorites_path(p), method: :post, remote: true do %>
                        <% if current_user.has_favorited?(p) %>
                          <i id="star", class="fas fa-star fa-lg fa-rocket-click"></i>
                        <% else %>
                          <i id="star", class="fas fa-star fa-lg"></i>
                        <% end %>
                      <% end %>
                    </div>
                    <% end %>
                  </div>
                  <div>
                    <p class="card-text"><%= p.short_description %></p>
                  </div>
                </div>
                <!-- progress bar   -->
                <div class="progress-card">
                  <div id="progress-all">
                    <div class="progress" style="height: 18px; background-color: lightgrey; width: 100%; border-radius: 50px; border: 1px;">
                      <div id="progress" class="progress-bar bg-info" role="progressbar" style="width: <%= ((p.current_funding / p.desired_funding.to_f)*100).to_i %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <p id="test-amount"><%= ((p.current_funding / p.desired_funding.to_f)*100).to_i %>%</p>
                      </div>
                    </div>
                    <div class="funding-amounts">
                      <div class="funding-title">
                        <strong>$ <%= p.current_funding %></strong>
                        <p>Earned</p>
                      </div>
                      <div class="funding-title">
                        <strong>$ <%= p.desired_funding %></strong>
                        <p>Goal</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        </div> <!-- end of row -->
      </div>
    </div>
  </div>
</div>
