<div class="project-index-container">
  <!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url(https://static1.visitestonia.com/images/2890339/Estonian_forest_reasons_to_visit_Sven_Zacek.jpg);">
    <h1>Featured Project</h1>
    <h5>Short Description</h5>
  </div>

<!-- Search & Icons -->
  <div class="search-container">
    <div class="icons">
      <!-- Animals -->
      <i class="fas fa-frog fa-2x" title="Animals"></i>
      <!-- Biology -->
      <i class="fas fa-dna fa-2x" title="Biology"></i>
      <!-- Chemistry -->
      <i class="fas fa-flask fa-2x" title="Chemistry"></i>
      <!-- Ecology -->
      <i class="fas fa-seedling fa-2x" title="Ecology"></i>
      <!-- History -->
      <i class="fas fa-history fa-2x" title="History"></i>
      <!-- Medicine -->
      <i class="fas fa-stethoscope fa-2x" title="Medicine"></i>
      <!-- Oceanography -->
      <i class="fas fa-water fa-2x" title="Oceanography"></i>
      <!-- Physics -->
      <i class="fas fa-atom fa-2x" title="Physics"></i>
      <!-- Space -->
      <i class="fas fa-rocket fa-2x" title="Astrology"></i>
      <!-- Social Studies -->
      <i class="fas fa-user-circle fa-2x" title="Social Studies"></i>
    </div>
  </div>

  <!-- Cards -->
  <div class="card-container">
    <!-- Search Bar -->
    <div class="seach-bar">
      <%= form_tag projects_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a project"
        %>
      <% end %>
    </div>
    <!-- Card -->
    <% @projects.each do |p| %>
      <div class="card" style="width: 18rem;">
        <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= p.photo %>);">
          <% if user_signed_in? %>
            <%= link_to toggle_project_favorites_path(Project.first), method: :post do %>
              <% if current_user.has_favorited?(Project.first) %>
                <i id="star", class="fas fa-star fa-lg fa-rocket-click"></i>
              <% else %>
                <i id="star", class="fas fa-star fa-lg"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="card-body">
          <p class="card-title"><%= p.name %></p>
          <p class="card-text"><%= p.short_description %></p>
        </div>
      </div>
    <% end %>
  </div>
