
<!-- Search & Icons -->
<div class="search-container">
  <div class="container">
    <div class="browse-header">
      <h3><strong>Explore citizen science projects and contribute to hundreds of experiments</strong></h3>
    </div>
  <!--   <div class="browse-text">
      <p>Explore different fields of research to find hundreds of experiments to contribute to.</p>
    </div> -->

  <!-- Icons -->
    <div class="icons mt-5 mb-5">
      <div class="row row-icons">
        <!-- Animals -->
        <div class="col-sm-6 col-md-2 col-lg-1">
          <%= link_to projects_path(query: 'animals') do %>
            <i class="fas fa-frog fa-2x filter text-center"></i>
            <p class="ml-3">Animals</p>
          <% end %>
        </div>
          <!-- Biology -->
        <div class="col-sm-6 col-md-2 col-lg-1">
          <%= link_to projects_path(query: 'biology') do %>
            <i class="fas fa-dna fa-2x filter"></i>
            <p class="ml-3">Biology</p>
          <% end %>
        </div>
          <!-- Ecology -->
        <div class="col-sm-6 col-md-2 col-lg-1">
          <%= link_to projects_path(query: 'ecology') do %>
            <i class="filter fas fa-seedling fa-2x"></i>
            <p class="ml-3">Ecology</p>
          <% end %>
        </div>
             <!-- History -->
        <div class="col-sm-6 col-md-2 col-lg-1">
          <%= link_to projects_path(query: 'history') do %>
            <i class="filter fas fa-history fa-2x"></i>
            <p class="ml-3">History</p>
          <% end %>
        </div>
              <!-- Space  -->
        <div class="col-sm-6 col-md-2 col-lg-1">
          <%= link_to projects_path(query: 'astronomy') do %>
            <i class="filter fas fa-rocket fa-2x mr-3"></i>
            <p class="ml-3">Astronomy</p>
          <% end %>
        </div>
          <!-- Chemistry -->
        <div class="col-sm-6 col-md-2 col-lg-1">
          <%= link_to projects_path(query: 'chemistry') do %>
            <i class="filter fas fa-flask fa-2x mr-3"></i>
            <p class="ml-3">Chemistry</p>
          <% end %>
        </div>
          <!-- Medicine -->
      <!--   <div class="col-sm-6 col-md-2 col-lg-1">
          <div class="text-center cat-filter">
            <i class="filter fas fa-stethoscope fa-2x mr-3" title="Medicine"></i>
            <p class="ml-3 mt-2">Medicine</p>
          </div>
        </div> -->
          <!-- Oceanography -->
      <!--   <div class="col-sm-6 col-md-2 col-lg-1">
          <div class="text-center cat-filter">
            <i class="filter fas fa-water fa-2x mr-4" title="Oceanography"></i>
            <p class="ml-3 mt-2">Ocean</p>
          </div>
        </div> -->
          <!-- Physics -->
       <!--  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-1">
          <div class="cat-filter">
            <i class="filter fas fa-atom fa-2x" title="Physics"></i>
            <p class="ml-3 mt-2">Physics</p>
          </div>
        </div> -->
        <!-- Social Studies -->
        <!-- <div class="col-sm-6 col-md-2 col-lg-1">
          <div class="text-center cat-filter">
            <i class="filter fas fa-user-circle fa-2x mr-4" title="social_studies"></i>
            <p class="ml-3 mt-2">Social Studies</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div> <!-- end of search container -->



<div class="container mb-5">
    <!-- Search-->
  <div class="search mt-4 mb-4">
    <div class="search-bar">
      <%= form_tag(projects_path, method: :get) do %>
        <%= text_field_tag :query, params[:query], :placeholder => "What interests you most?", class: "form-control", id: "landing-page-search-form" %>
      <% end %>
    </div>
  </div>
  <div class="search-bar">
    <p><%= link_to 'Create an account', new_project_path %> to favorite projects to your profile and collect badges.</p>
  </div>
  <!-- Cards-->
  <div class="row">
    <% @projects.each do |p| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card card-index<%= p.category %>">
          <%= link_to(project_path(p), class: "card-link") do %>
            <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= p.photo %>);">
            </div>
          <% end %>

          <div class="card-body-">
            <div class="star-project-tile">
              <%= link_to(project_path(p), class: "card-link") do %>
                <h5 class="card-title"><%= p.name %></h5>
              <% end %>
              <% if user_signed_in? %>
              <div data-project-id="<%= p.id %>">
                <%= link_to toggle_project_favorites_path(p), method: :post, remote: true do %>
                  <% if current_user.has_favorited?(p) %>
                    <i id="star", class="fas fa-star fa-lg fa-rocket-click"></i>
                  <% else %>
                    <i id="star", class="fas fa-star fa-lg"></i>
                  <% end %>
                <% end %>
              </div>
              <% end %>
            </div>
            <p class="card-text"><%= p.short_description %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div> <!-- end of row -->
  <!-- Card -->

</div>


<%= javascript_pack_tag "card-filter" %>

