<!-- Whole Page -->
<div class="show-page-container">

  <!-- Left side of page -->
  <div class="left-side">
    <!-- Circular Picture -->
    <div class="category-circle" id="circle">
    </div>
  </div>

  <!-- Right side of page -->
  <div class="right-side">


  <!-- Corner Image -->
    <div class="category-triangle" id="triangle">
      <!-- <img class="project-img" src="<%=@project.photo%>" align="right"> -->
        <p id="category" align="center">Category<br /><%=@project.category.capitalize%></p>
    </div>

  <!-- Introduction -->
    <!-- <div class="participate mr-5 ml-2"> Reintroduce next week-->
    <div class="participate">
      <h1>Looking to Participate?</h1>
      <h3>Selected Project: <%= @project.name %></h3>
      <!-- Need to make logic work -->
      <p><i class="fas fa-star fa-lg" id="favor"></i> 5 Users Starred This Project</p>
      <!-- Need to make logic work -->
      <p><i class="fas fa-user fa-lg" id="user"></i> 10 Active Participants</p>
      <!-- Progress Bar -->
      <div class="progress" style="height: 25px;">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= @donation_progress %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <%= @donation_progress %>%
        </div>
      </div>
      <br>
    </div>
    <!-- Add a line showing how much funding is desired  -->
    <!-- Stripe payment button  -->
    <%= form_tag donations_path do %>
      <%= hidden_field_tag 'project_id', @project.id %>
      <%= submit_tag 'Donate Today!', class: 'btn btn-info', id: 'donate-btn'%>
    <% end %>
    <!-- Project Info -->
    <!-- <div class="project-info mr-5"> Reintroduce next week-->
    <div class="project-info">
      <br>
      <h5><strong>At a Glance:</strong> <%=@project.short_description%>
        <br>
        <br>
        <%=@project.name %> is looking for participants like you to help push science forward!</h5>
      <br>
      <h5><strong>Organizer:  </strong><%=@project.organization%></h5>
      <br>
      <h5><strong>Organization Description:  </strong><%=@project.org_description%></h5>
      <br>
      <h5><strong>Description:  </strong><%=@project.long_description%></h5>
      <br>
      <br>
      <%= link_to "Learn More", { controller: :projects, action: :project_counter }, :target => "_blank"  , class: 'btn btn-light', data: @project.category, id: 'participate-btn', method: :post %>
      <p align=center> <i>(Warning: You will be redirected to the project website)</i></p>
      <i class="fas fa-sign-out-alt fa-2x" align=center id="exit"></i>
    </div>
  </div>


</div>
