<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= cl_image_path @project.photo, crop: :fit unless @project.photo.blank? %>');">

</div>

<div class="project-container">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <h1><%= @project.name %> </h1>
        <div class="show-description">
          <p><%= @project.short_description %></p>
        </div>
      </div>
      <br>
    </div>

      <br>
      <% if current_user == @project.user %>
        <%= link_to "Update project", edit_project_path, class: "btn btn-primary" %>
      <% else current_user %>
        <%= link_to "Search for some more science!", projects_path, class: "btn btn-success"%>
      <% end %>

      <div class="show_more_description">
          <p><%= @project.long_description %></p>
        </div>

        <div class="url_destination">
          <p><%= @project.url %></p>
        </div>

    </div>

    <div class="col-sm-12 col-md-1">
    </div>

    <div class="col-sm-12 col-md-4">

      <div>
        <!-- Shows owner information -->
        <h4>Owner:</h4>
        <%= link_to profile_path(@project.user_id) do %>
          <%= cl_image_tag @project.user.photo, width: 300, crop: :fill, class: "avatar large" %>
          <%= @project.user.first_name %> <%= @garden.user.last_name %>
        <% end %>
        <br>
      </div>

    </div>
  </div>
</div>
