<!-- Whole Page -->
<div class="show-page-container" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://wallpaperplay.com/walls/full/4/f/9/51246.jpg);">

<!-- Introduction -->
  <div class="participate">
    <h1>Looking to Participate?</h1>
    <h3>Selected Project: <%= @project.name %></h3>
  </div>

<!-- Project Info -->
  <div class="project-info">
    <br>
    <h5><strong>At a Glance:</strong> <%=@project.short_description%> and is looking for participants like you to help push science forward!</h5>
    <br>
    <h5><strong>Organizer:  </strong><%=@project.organization%></h5>
    <br>
    <h5><strong>Organization Description:  </strong><%=@project.org_description%></h5>
    <br>
    <h5><strong>Description:  </strong><%=@project.long_description%></h5>
    <br>
    <br>
    <br>
    <%= link_to "Learn More", @project.url, class: 'btn btn-light', id: 'participate-btn' %>
  </div>
</div>
