<!-- Whole Page -->
<div class="container project-intro">
  <div class="project-name-photo col-sm-12 col-md-8">
    <br>
    <h2><strong><%= @project.name %></strong></h2>
    <br>
    <h5>Research lead by</h5> <%= @user_id %>
    <br>
    <%= cl_image_tag(@project.photo, width: 600, height: 400, crop: :fill, gravity: :face) %>
    <!-- Need to make logic work -->
    <p><i class="fas fa-star fa-lg" id="favor"></i> 5 Users Starred This Project</p>
    <!-- Need to make logic work -->
    <p><i class="fas fa-dollar-sign fa-lg" id="dollar"></i> 3 Users Backed This Project</p>

    <p><i class="fas fa-dollar-sign fa-lg" id="dollar"></i> Funding $340 / $500 </p>
    <!-- Put users who are backing the project -->
     <!-- Add a line showing how much funding is desired  -->
    <!-- Stripe payment button  -->
    <%= form_tag donations_path do %>
      <%= hidden_field_tag 'project_id', @project.id %>
      <%= submit_tag 'Fund Project', class: 'btn btn-info', id: 'donate-btn'%>
    <% end %>
  </div>
    <!-- Project Info -->
    <!-- <div class="project-info mr-5"> Reintroduce next week-->

  <div class="project-info col-sm-12 col-md-4">
    <h2>About this project</h2>
    <p><%=@project.about%></p>
  </div>
</div>

<hr>

<div class="container project-significance">
  <div class="project-name-photo col-md-8">
    <div class="show-section">
      <h2>What is the context of this research?</h2>
      <p><%= @project.context %></p>
    </div>
    <div class="show-section">
      <h2>What is the significance of this project?</h2>
      <p><%=@project.significance%></p>
    </div>
    <div class="show-section">
      <h2>What are the goals of this project?</h2>
      <p><%= @project.goals %></p>
    </div>
    <div class="show-section">
      <h2>Project Timeline</h2>
      <p><%= @project.timedate %></p>
      <p><%= @project.timetext %></p>
    </div>
    <%#= link_to "Learn More", { controller: :projects, action: :project_counter }  , class: 'btn btn-light', data: @project.category, id: 'participate-btn', method: :post %><!-- <p>(Warning: You will be redirected to the project website)</p>
    <i class="fas fa-sign-out-alt fa-2x" align=center id="exit"></i> -->
    <div class="show-section">
      <h2>Meet the team</h2>
      <p><%=@project.org_description%></p>
      <p><%#= @project.user_id %></p>
      <p><%= @project.rresearcherbio %></p>
    </div>

    <i class="fas fa-sign-out-alt fa-2x" id="exit"></i><%= link_to "Participate", { controller: :projects, action: :project_counter }  , class: 'btn btn-light', data: @project.category, id: 'participate-btn', method: :post %><p>External Link</p>

  </div>
</div>
