<!-- Whole Page -->
<div class="show-page-container">
<!-- Introduction -->
<div class="container project-intro">
  <div class="project-name-photo col-sm-12 col-md-8 col-lg-8">
    <br>
    <h2><strong><%= @project.name %></strong></h2>
    <% if @project.user.nil? == false %>
      <h5 id="researcher">Research lead by <strong><%= @project.user.first_name %> <%= @project.user.last_name %></strong></h5>
    <% end %>

    <%= link_to "Participate", { controller: :projects, action: :project_counter }  , class: 'btn btn-light', data: @project.category, id: 'participate-btn',target: :_blank, method: :post %>
    <br>
    <%= cl_image_tag(@project.photo, crop: :fill, gravity: :face, class: "project-photo") %>
    <div class="show-section">
      <br>
    <div class="show-section">
      <h2>About this project</h2>
      <p><%=@project.about %></p>
    </div>
      <h2>What is the context of this research?</h2>
      <p><%= @project.context %></p>
    </div>
    <div class="show-section">
      <h2>What is the significance of this research?</h2>
      <p><%=@project.significance%></p>
    </div>
    <div class="show-section">
      <h2>Project Goals</h2>
      <p><%= @project.goals %></p>
    </div>
    <div class="show-section">
      <h2>Meet the team</h2>
      <% if @project.user.nil? == false %>
        <div class="researcher-bio">
          <div>
            <%= cl_image_tag @project.user.photo, class: "avatar-large", align: "center", height: 75 %>
          </div>
          <div class="bio">
            <p><%= @project.user.first_name %> <%= @project.user.last_name %>
            </%>
            <p><%= @project.rresearcherbio %></p>
          </div>
        </div>
      <% end %>
      <p><%=@project.org_description%></p>
      <p><%#= @project.user_id %></p>
      <%#= @project.user.photo %>
    </div>
  </div>
    <!-- Project Info -->
  <div class="d-none col-md-1 col-lg-1">
  </div>

 <div id="project-info-links" class="col-sm-12 col-md-4 col-lg-4">
    <div class="participate-fund-container pt-1">
      <!-- save to favorites -->
      <div class="favorite-fund">
        <% if user_signed_in? %>
          <div class="project-favorite">
            <div class="favorite-padding">
              <p>Save project to favorites </p>
            </div>
            <div data-project-id="<%= @project.id %>">
              <%= link_to toggle_project_favorites_path(@project.id), method: :post, remote: true do %>
                <% if current_user.has_favorited?(@project) %>
                  <i id="star star-show", class="fas fa-star fa-lg fa-rocket-click"></i>
                <% else %>
                  <i id="star star-show", class="fas fa-star fa-lg"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
        <br>
      </div>
        <div class="fund-section">
        <!-- Progress Bar -->
          <div id="progress-all">
            <div class="progress" style="height: 28px; background-color: lightgrey; width: 100%; border-radius: 50px; border: 1px;">
              <div id="progress" class="progress-bar bg-info" role="progressbar" style="width: <%= @donation_progress %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <p id="test-amount"><%= @donation_progress %>%</p>
              </div>
            </div>
            <div class="funding-amounts">
              <div class="funding-title">
                <strong>$ <%= @project.current_funding %></strong>
                <p>Earned</p>
              </div>
              <div class="funding-title">
                <strong>$ <%= @project.desired_funding %></strong>
                <p>Goal</p>
              </div>
            </div>
          </div>
        </div>
        <div class="fund-button">
        </div>



<div id="accordion">
  <div class="card">
    <div class="card-header" id="funding-collapse" data-toggle="collapse" data-target="#collapseOne">
      <h5 class="mb-0 text-center" >
        Fund Project
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <%= render "payments/new" %>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>

</div>


