
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= cl_image_path @project.photo, crop: :fit unless @project.photo.blank? %>');">
    <div class="project-name">
        <h1><%= @project.name %> </h1>
    </div>


  </div>
<div class='whole-page'>
  <div class="project-container">
    <div>
      <div class="show-description">
        <h2><%= @project.short_description %></h2>
        <h3>this project has been favrotied <%= 0 %> times </h3>
        <!-- work on once pushed -->
      </div>
    </div>
    <div>
      <div class="show_more_description">
      <p><%= @project.long_description %></p>
      </div>
      <div class="url_destination">
      <p><%= @project.url %></p>
      </div>
    </div>
    <div>
      <div class='org-container'>
      <div class="organization">
      <h1><%= @project.organization%></h1>
      </div>
      <div class="org_description">
      <p><%=@project.org_description%></p>
      <!-- remove hard coded link to mcgill -->
              <a class= ' learn-more-button' href="https://mcgill.ca/about/about-mcgill">learn more about <%=@project.organization%> </a>
      </div>

      </div>
    </div>
  </div>
</div>
       <!-- breaks the site -->
      <%# if current_user == @project.user %>
        <%#= link_to "Update project", edit_project_path, class: "btn btn-primary" %>
      <%# else current_user %>
        <%#= link_to "Search for some more science!", projects_path, class: "btn btn-success"%>
      <%# end %>




      <div>
        <!-- Shows owner information -->

        <!-- breaks the site -->
        <!-- <h4>Owner:</h4> -->
        <%#= link_to profile_path(@project.user_id) do %>
          <%#= cl_image_tag @project.user.photo, width: 300, crop: :fill, class: "avatar large" %>
          <%#= @project.user.first_name %> <%#= @garden.user.last_name %>
        <%# end %>
      </div>

      </div>
    </div>

