<script src="https://checkout.stripe.com/checkout.js"></script>

<div class="new-donation-container">
  <div class="donation-card">
    <!-- Title -->
    <h3><b>Back <%= @donation.project.name%></b></h3>
    <br>
    <!-- Image -->
    <div class="donation-image" style="background-image: url(<%= @donation.project.photo %>); background-size: cover; background-position: center center;"></div>
    <br>
    <!-- Buttons -->
    <div class="donation-buttons">
      <button type="button" class="btn btn-success" id="donate-amount-btn" data-amount="10">C$10</button>
      <button type="button" class="btn btn-success" id="donate-amount-btn"data-amount="20">C$20</button>
      <button type="button" class="btn btn-success" id="donate-amount-btn"data-amount="50">C$50</button>
      <button type="button" class="btn btn-success" id="donate-amount-btn"data-amount="100">C$100</button>
      <button type="button" class="btn btn-success" id="donate-amount-btn"data-amount="200">C$200</button>
    </div>
    <br>
     <%= form_tag donation_payments_path(@donation) do %>
      <div id="error_explanation">
        <% if flash[:error].present? %>
          <p><%= flash[:error] %></p>
        <% end %>
      </div>
      <article>
        <%= text_field_tag(:amount, "", :placeholder => "50")%>
        <button id='donateButton'>Donate</button>
      </article>
      <article>
        <%= hidden_field_tag(:stripeToken) %>
      </article>

      <script>
        var handler = StripeCheckout.configure({
          key: '<%= Rails.configuration.stripe[:publishable_key] %>',
          locale: 'auto',
          name: 'scius',
          description: 'One-time donation',
          token: function(token) {
            document.querySelector("input#stripeToken").value = token.id;
            document.querySelector("form").submit();
          }
        });
      </script>
    <% end %>
  </div>
</div>


